h2{
    text-align: center;
}

.contatos{
    width:100%;
    margin: auto;
    text-align: center;
}

.contatos input{
    display: block;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    width: 300px;
    color: black;
}

.btn_enviar{
    color: black;
    padding: 7px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
}

.btn_enviar:hover{
    transition: 0.3s;
    cursor: pointer;
    background-color: grey;
}