.projetos{
    width: 100%;
    margin: auto;
}

.projeto{
    width: 80%;
    margin: 40px auto;
    background-color: #111;
    padding: 10px;
    font-size: 14px;
    border-radius: 7px;
}

.projeto:hover{
    transition: .5s;
    transform: scale(1.06);

}

.projeto figure{
    text-align: center;
}

.imagem_projeto{
    width: 90%;
    margin: 10px 0;
}

.link_diretorio{
    text-decoration: none;
}

h4{
    margin: 6px 0;
}